body{
background-color:black;
font-family:monospace;
font-size:15px;
}
.white-text{
color:white;
}
.thick-white-border {
border-color: white;
border-width: 10px;
border-style: solid;
border-radius: 50%;
}