#img{
    max-width:100px;
}
#main{
    text-align: center;
    margin-inline: 150px;
    background-color:rgb(61, 57, 57);
}
p{
    font-size: 20px;
    font-family:monospace;
}
.white-text{
    color:white;
}
